.midasi{
    padding: 0.5em 1em;
    background: -moz-linear-gradient(#ffb03c, #ff708d);
    background: -webkit-linear-gradient(#ffb03c, #ff708d);
    background: linear-gradient(to right, #ffb03c, #ff708d);
    color: #FFF;
}
.midesi h1 {
    margin: 0; 
    padding: 0;
}
.img_wrap{
    border: 1px solid #ddd;
    width: 300px;
    height: 226px;
    margin: 0 auto;
    overflow: hidden;
  }
  .img_wrap img{
    width: 100%;
    cursor: pointer;
    transition-duration: 0.3s;
  }
  .img_wrap:hover img{
    opacity: 0.6;
    transition-duration: 0.3s;
  }
  .img_wrap{
    height: 340px;
    width: 340px;
  }
.img_wew{
    border: 1px solid #ddd;
    width: 300px;
    height: 226px;
    margin: 0 auto;
    overflow: hidden;
  }
  .img_wew img{
    width: 100%;
    cursor: pointer;
    transition-duration: 0.3s;
  }
  .img_wew:hover img{
    opacity: 0.6;
    transition-duration: 0.3s;
  }
  .img_wew{
    height: 340px;
    width: 340px;
  }
